@import './vars.scss';

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.project-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.project-tags-list {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: 12px;
  
  .project-tag-item {
    font-size: 1em;
    padding: 4px;
    border-radius: 3px;
    color: $background;
    background-color: $primary-2;
  }
}

.left-container {
  width: 30%;
  padding: 12px;
  height: calc(100vh - 12px * 2);
  max-height: 100vh;
  overflow-y: scroll;
  background-color: $background;
  color: $background;
  display: flex;
  flex-direction: column;
}

.upload-container {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: calc(100vh - 12px * 2);
  width: 100%;
  border: 3px dashed $primary-2;
  border-radius: 8px; 
  margin: 12px;

  .upload-header {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .upload-svg-container {
    width: 200px;

    svg {
      fill: $primary-2;
    }
  }
}

.right-container {
  width: 100%;
  max-width: 70%;
  margin: 12px;
  height: calc(100vh - 12px * 2);
}