@import './vars.scss';

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.project-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.project-tags-list {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: 12px;
  
  .project-tag-item {
    font-size: 1em;
    padding: 4px;
    border-radius: 3px;
    color: $background;
    background-color: $primary-2;
  }
}

.left-container {
  width: 30%;
  padding: 12px;
  height: calc(100vh - 12px * 2);
  max-height: 100vh;
  overflow-y: scroll;
  background-color: $background;
  color: $background;
  display: flex;
  flex-direction: column;
}

.category-container {
  width: 100%;
  max-height: 100%;
  overflow: scroll;
}

.category-content {
  padding: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  
  .category-item {
    padding: 8px;
    border-radius: 8px;
    background-color: $primary-2;
    color: $background;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    opacity: 0.5;
    transition: 0.5s;
    
    &.selected {
      opacity: 1.0;
      transition: 0.5s;
    }

    .category-item-color {
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }

    .category-item-title {
      font-size: 0.8em;
    }
  }
}

.upload-container {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: calc(100vh - 12px * 2);
  width: 100%;
  border: 3px dashed $primary-2;
  border-radius: 8px; 
  margin: 12px;

  .upload-header {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .upload-svg-container {
    width: 200px;

    svg {
      fill: $primary-2;
    }
  }
}

.right-container {
  width: 100%;
  max-width: 70%;
  margin: 12px;
  height: calc(100vh - 12px * 2);
}

.img-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  gap: 12px;
  margin-top: 12px;
  justify-content: start;
  align-content: flex-start;
}

.img-view-container {
  $img-view-size: 90px;

  background-color: $primary-2;
  color: $background;
  border-radius: 6px;
  height: fit-content;
  
  .img-view-content {
    max-width: $img-view-size;
    padding: 6px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  img.image-display {
    width: $img-view-size;
    height: $img-view-size;
  }

  .image-title {
    font-size: 0.6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: lighter;
  }
}