@import './vars.scss';

$left-size: 30%;
$top-size: 20vh;
$global-gap: 12px;

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.project-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.project-tags-list {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: $global-gap;
  
  .project-tag-item {
    font-size: 1em;
    padding: 4px;
    border-radius: 3px;
    color: $background;
    background-color: $primary-2;
  }
}

.left-container {
  width: $left-size;
  margin: $global-gap;
  height: calc(100vh - $global-gap * 2);
  max-height: 100vh;
  overflow-y: scroll;
  background-color: $background;
  color: $background;
  display: flex;
  flex-direction: column;
}

.right-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(100% - $left-size - $global-gap * 2 - 2px);
  margin: $global-gap;
  height: calc(100vh - $global-gap * 2);
  border-left: 1px solid $text-color;
}

@media screen and (max-width: 1000px) {
  .project-page {
    flex-direction: column;
  }
  .left-container {
    border-bottom: 1px solid black;
    width: calc(100vw - $global-gap * 2);
    height: calc($top-size - $global-gap * 2);
  }

  .right-container {
    max-height: calc(100vh - $top-size - $global-gap * 2 - 2px);
    max-width: calc(100vw - $global-gap * 2);;
    width: 100%;
    border-left: 0;
  }
}

.upload-container {
  height: 100%;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease-out;
  
  &.upload-background {
    border: 3px dashed transparent;
  }

  &.upload-foreground {
    border: 3px dashed $primary-2;
  }

  &.upload-dragover {
    background-color: $accent;
    border: 3px solid $primary-2;
    transition: 0.5s ease-out;
  }

  .progress-bar {
    position: absolute;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -9999;
    height: 100%;
    background-color: $accent;
  }

  .upload-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-header {
    font-size: 1.5em;
  }

  .upload-svg-container {
    width: 200px;

    svg {
      fill: $primary-2;
    }
  }
}
