/* Color Theme Swatches in Hex */
$primary-2: #363E59;
$primary-1: #011640;
$background: #F2DABD;
$accent: #A6896F;
$text-color: #0D0D0D;

$primary-2: #26324c;
$primary-1: #6b688e;
$background: #bcb7b6;
$accent: #9da0b5;
$text-color: #000000;
